body {
    margin: 0 auto;
    font-family: Helvetica;
    background:#333;
}
#container {
    display:flex;
    flex-direction: column;
}
#led-indicator {
    width:10px;
    height: 10px;
    border:10px solid #111;
    background-color: #F00;
    position: absolute;
}
#timer-container {
    background: #000;
    font-size:20vw;
    box-sizing:border-box;
    padding: 20px 0px 20px 0px;
    display:flex;
    align-items: center;
    justify-content: center;
    color:#FFF;
}
#info-bar {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #111;
}
#total-time {
    width: 25%;
    background-color: #111;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 6vw;
}
#spacer {
    width:60%;
    
}
#counter {
    width: 15%;
    background-color: #111;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 6vw;
}
#buttons {
    display: flex;
    box-sizing:border-box;
    padding: 20px 0px 20px 0px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#buttons #start {
    width: 40%;
    box-sizing:border-box;
    padding: 20px 0px 20px 0px;
    /* margin-right:5%; */
    background-color: #222;
    font-size: 10vw;
    color: #FFF;
    border:none;
}
#buttons #resume {
    width: 40%;
    box-sizing:border-box;
    padding: 20px 0px 20px 0px;
    margin-right:5%;
    background-color: #222;
    display:none;
    font-size: 10vw;
    color: #FFF;
    border:none;
}
#buttons #reset {
    width: 40%;
    box-sizing:border-box;
    padding: 20px 0px 20px 0px;
    background-color: #222;
    display:none;
    align-items:center;
    justify-content:center;
    font-size: 10vw;
    color: #FFF;
    border:none;
}

#buttons #start:hover {
    background-color: #00CC00;
}
#buttons #resume:hover {
    background-color: #00CC00;
}
#buttons #reset:hover {
    background-color: #F00;
}
